.example-spacer {
  flex: 1 1 auto;
}

.mat-drawer-container{
  background-color: white !important;
}

.sidenav{
position: fixed;
width: 18%;}

.sidenav-content{
  position: fixed;
  width: 82%;
}

.body-router{
  position: fixed;
    height: 100%;
    width: 82%;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 95px;
  background-color: #FF7851;
}
.mat-toolbar.mat-primary {
  color: #fff;
}
.nav-list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 52px;
}
.title {
  color: black;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
