.card {
    max-width: 250px;
  }

  .color-black{
    color: black !important;
  }

  .max-lines-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
